@model IEnumerable<RookiEcom.Modules.Product.Contracts.Dtos.CategoryDto>

<ul class="navbar-nav me-auto mb-2 mb-lg-0">
     <li class="nav-item">
        <a class="nav-link" asp-controller="Products" asp-action="Index">All Products</a>
    </li>

    @if (Model != null)
    {
        <section class="category-links-section mb-5 text-center">
            <h2 class="mb-4">Shop By Category</h2>
            <div class="d-flex flex-wrap gap-3 justify-content-center">
                @foreach (var category in Model.OrderBy(c => c.Name))
                {
                    <a asp-controller="Products" asp-action="ByCategory" asp-route-categoryId="@category.Id" class="category-item">
                        <img src="@(category.Image ?? "https://thaka.bing.com/th/id/OIP.Hr0u82lNFTolS6JizM6LaAHaHa?rs=1&pid=ImgDetMain")" alt="@category.Name">
                        <i class="bi bi-tag me-1"></i>
                        <span class="category-name-text">@category.Name</span>
                    </a>
                }
            </div>
        </section>
    }
</ul>